
 /*   #destination {

      padding-left: 50px;
}
*/
* {
  margin:0;
  padding:0;
}

h2{
  margin-top:0;
  padding-top:20px;
  padding-left:20px;
  margin-bottom:30px;
  color:#fff;
}
 
#niveau {
  position:absolute;
  top:8px;
  left:120px;
  z-index:99;
}
 
.form-control {
  width:50px; 
}
 

.requests {
  height:100%;
  overflow-y:auto;
}

body {
  background-color:#333;
}

.alert{
  padding:5px;
  margin:5px;
}
li {
  margin:3px;
}

html, body {
  height:100%;
}
.main {
    height:100%;
}

ul {
  width:100%;
}

li {
  width:100%;
  list-style-type:none;
}

#googleMap {
    height:100%;
}/*
    #request {
    float: right;
    width: 300px;
    padding-right:70px; 

    }
    .selected {
      background-color: #CFD8DC !important;
      color: white;
    }
    .heroes {
      margin: 0 0 2em 0;
      list-style-type: none;
      padding: 0;
      width: 15em;

    }
    .heroes li {
      cursor: pointer;
      position: relative;
      left: 0;
      background-color:green;
      margin: .5em;
      padding: .3em 0;
      height: 1.6em;
      border-radius: 4px;
    }
    .heroes li.selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }
    .heroes li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }
    .heroes .text {
      position: relative;
      top: -3px;
    }
    .heroes .badge {
      display: inline-block;
      font-size: small;
      color: white;
      padding: 0.8em 0.7em 0 0.7em;
      background-color: #607D8B;
      line-height: 1em;
      position: relative;
      left: -1px;
      top: -4px;
      height: 1.8em;
      margin-right: .8em;
      border-radius: 4px 0 0 4px;
    }*/