<body>
  <div class="main">
    <h1>TCHOO TCHOO</h1>
      <p id="niveau">
        <input class="form-control" [(ngModel)]="nCars" (ngModelChange)="changeNCars()">
    </p>
    <div id="googleMap" class="col-sm-9"></div>
    <div class="requests col-sm-3">
      <h2>Requests</h2>
      <ul>
          <li *ngFor="let request of requests">
              <div class="alert alert-warning" *ngIf="request.isBeingProcessed === true && request.people === false">
              <p style="font-weight:bold"><i class="fa fa-clock-o" aria-hidden="true"></i> <b>En chemin...</b></p>
                <i class="fa fa-home" aria-hidden="true"></i>: {{ request.srcAddress }}
              <br><i class="fa fa-arrow-right" aria-hidden="true"></i>  &nbsp;{{request.destAddress}}
              </div>
              <div class="alert alert-danger" *ngIf="request.isBeingProcessed === false && request.people === false">
                <p style="font-weight:bold"><i class="fa fa-male" aria-hidden="true"></i> <b>En attente...</b></p>
                <i class="fa fa-home" aria-hidden="true"></i>: {{ request.srcAddress }} 
              <br><i class="fa fa-arrow-right" aria-hidden="true"></i>  &nbsp;{{request.destAddress}}
              </div>
              <div class="alert alert-success" *ngIf="request.isBeingProcessed === true && request.people === true">
                <p style="font-weight:bold"><i class="fa fa-check" aria-hidden="true"></i> <b>En cours...</b></p>
               <i class="fa fa-home" aria-hidden="true"></i>: {{ request.srcAddress }}
              <br><i class="fa fa-arrow-right" aria-hidden="true"></i>  &nbsp;{{request.destAddress}}
              </div>        
          </li>
      </ul>
    </div>
  </div>
</body>