<body>
  <div class="main">
      <p id="niveau">
        <input class="form-control" [(ngModel)]="nCars" (blur)="changeNCars()">
    </p>
    <div id="googleMap" class="col-sm-9"></div>
    <div class="requests col-sm-3">
      <h2>Requests</h2>
      <ul>
          <li *ngFor="let request of requests">
              <div class="alert alert-success" *ngIf="request.isBeingProcessed">
              <p style="font-weight:bold"><i class="fa fa-check" aria-hidden="true"></i> En cours...</p>
                ({{ request.srcLon.toFixed(3) }} ; {{request.srcLat.toFixed(3)}})
              <i class="fa fa-arrow-right" aria-hidden="true"></i> ({{ request.destLon.toFixed(3) }} ; {{request.destLat.toFixed(3)}})
              </div>
              <div class="alert alert-warning" *ngIf="request.isBeingProcessed === false">
                <p style="font-weight:bold"><i class="fa fa-male" aria-hidden="true"></i> En attente :</p>
                ({{ request.srcLon.toFixed(3) }} ; {{request.srcLat.toFixed(3)}})
              <i class="fa fa-arrow-right" aria-hidden="true"></i> ({{ request.destLon.toFixed(3) }} ; {{request.destLat.toFixed(3)}})
              </div>
          </li>
      </ul>
    </div>
  </div>
</body>